
ai-interviewer/src/main/resources/application.properties
**/application.properties
.env
.env.local
.env.*

.DS_Store
Thumbs.db
ehthumbs.db

*.log

.idea/
.vscode/
*.iws
*.iml
*.ipr
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

ai-interviewer/target/
ai-interviewer/bin/
ai-interviewer/build/
ai-interviewer/.mvn/wrapper/maven-wrapper.jar
ai-interviewer/HELP.md

ai-interviewer/.classpath
ai-interviewer/.project
ai-interviewer/.settings/
ai-interviewer/.factorypath
ai-interviewer/.springBeans
ai-interviewer/.sts4-cache/
ai-interviewer/.apt_generated/

ai-interviewer/nbproject/private/
ai-interviewer/nbbuild/
ai-interviewer/dist/
ai-interviewer/nbdist/
ai-interviewer/.nb-gradle/

ai-interviewer-front/node_modules/

ai-interviewer-front/dist/
ai-interviewer-front/dist-ssr/

ai-interviewer-front/npm-debug.log*
ai-interviewer-front/yarn-debug.log*
ai-interviewer-front/yarn-error.log*
ai-interviewer-front/pnpm-debug.log*
ai-interviewer-front/lerna-debug.log*
ai-interviewer-front/logs/

ai-interviewer-front/*.local
ai-interviewer-front/.vscode/*
!ai-interviewer-front/.vscode/extensions.json